<!DOCTYPE html>
<html lang="en">
{{template "head".}}
<body>
    {{template "navbar" .}}
    <div class="flex grid grid-row-4 gap-10 items-center w-36 h-1 p-4" style="width:800px; margin:0 auto;">
        <a class="shadow-md" target="_blank" href="https://www.cdss.ca.gov/inforesources/cdss-programs/housing-programs/calworks-housing-support-program"><p>Housing Support</p></a>
        <a class="shadow-md" target="_blank" href="https://www.lafoodbank.org/find-food/pantry-locator/"><p>Food Drive</p></a>
        <a class="shadow-md" target="_blank" href="https://www.coalongbeach.org/clothing-household-goods"><p>Clothing Drive</p></a>

    </div>
</body>


</html>