<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script> -->
    <link rel="stylesheet" href="./style/style.css">

    <script src = "js/index.js"></script>
    <script src = "js/login.js"></script>

    <title>LAAH</title>
</head>
<body>
   {{ template "navbar" .}}
    <form action="/homes">
        <button class="bg-black hover:bg-opacity-75 text-white font-bold py-2 px-4">All Homes </button>
    </form>
    {{range .}}
    <div class="flex flex row">
        <div class="flex flex-row">
            <div class="basis-1/4">01</div>
            <div class="basis-1/4">02</div>
            <div class="basis-1/2">03</div>
          </div>
            {{.Owner}}
            {{.City}}
            {{.Address}}
            {{.ZipCode}}
            {{.UnitType}}
    {{end}}

</div>



    </body>
</html>

</html>